<%= form_with(model: producao) do |form| %>
<div class='cadastro'>
  <div>
    <%= form.label :Nome, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :Descrição, size: "10x10" %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :Preço%>
    <%= form.number_field :price, style: "display: block" %>
  </div>
    <br>
  <div>
    <%= form.submit "Novo Produto"%>
  </div>
</div>

<% end %>
