<%= simple_form_for (@producao) do |f| %>
  <%= f.input :name%>
  <%= f.input :price%>
  <%= f.input :description, input_html: { rows: 2 } %>
<hr><br>
  <%= link_to "Cancelar", producaos_path, class:"btn btn-danger"%>
  <%= f.button :submit, "Salvar", class:"btn btn-success" %>
<% end %>


<!--
<%= form_with(model: producao) do |form| %>
<div class='cadastro'>
  <div>
    <%= form.label :Nome%>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :Descrição, size: "10x10" %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :Preço%>
    <%= form.number_field :price%>
  </div>
    <br>
  <div>
    <%= form.submit "Novo Produto"%>
  </div>
</div>

<% end %>
-->