<!--   
      <span>
      <% if user_signed_in? %>Acessando como: <strong><%= current_user.email %></strong><br> 
      <%= link_to "Editar Perfil", edit_user_registration_path, class: "btn btn-primary" %> 
      <%= button_to "Sair", destroy_user_session_path, method: :delete, class: "btn btn-dark"  %>
      <% else %>
      <%= link_to "Criar conta", new_user_registration_path, class: "btn btn-primary"  %>
      <%= link_to "Entrar", new_user_session_path, class: "navbar-link"  %>
      <% end %>
      </span>
-->

<h1 style="text-align:center">Tela Inicial</h1><br>
<div class="row gx-5">
  <div class="col"> 
    <div class="form-control border-success border-opacity-75">
      <h1>Cadastre um Produto</h1><hr>
      <%= link_to "Novo Produto", new_producao_path, class: "btn btn-primary" %>
  </div><br>
  <div class="col">
    <div class="form-control border-success border-opacity-75"> 
      <h1 style="text-align:center">Lista de Produtos</h1><hr>
      <table class="table">
        <thead>
          <tr>
            <th><strong>Nome<strong></th>
            <th><strong>Descrição<strong></th>
            <th><strong>Preço<strong></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% @producaos.each do |producao| %>
          <tr>
            <td><strong><%= producao.name %></strong></td>
            <td><%= producao.description %></td>
            <td>&#36;<%= producao.price %></td>
            <td><%= link_to "Editar",producao, class:"btn btn-dark" %></td>
            <td><%= button_to "Apagar", producao, method: :delete, class:"btn btn-dark" %></td>
          </tr>
          <% end %>
        </tbody>  
      </table>
      <%= render "layouts/pagination"%>
    </div>
  </div>
</div>
<!--
<%= link_to "New producao", new_producao_path %>

<div id="producaos">
  <% @producaos.each do |producao| %>
    <%= render producao %>
      <%= link_to "Show this producao", producao %>
    </p>
  <% end %>
</div>

<h1>Producaos</h1>
<div id="producaos">
  <h1 style='text-align:center'>Produtos</h1>
  <table class="table">
    <thead>
    <tr>
            <th><strong>Nome<strong></th>
            <th><strong>Descrição<strong></th>
            <th><strong>Preço<strong></th>
            <th style='border:none'></th>
            <th style='border:none'></th>
          </tr>
        </thead>
        <tbody>
  <% @producaos.each do |producao| %>
     <tr>
            <td><%= producao.name %></td>
            <td><%= producao.description %></td>
            <td><%= producao.price %></td>
            <td><%= link_to "Show this producao", producao %></td>
            <td><%= button_to "Destroy this producao", @producao, method: :delete %></td>
          </tr>
  <% end %>
</div>

<%= link_to "New producao", new_producao_path %>

<div id="producaos">
  <% @producaos.each do |producao| %>
    <%= render producao %>
      <%= link_to "Show this producao", producao %>
    </p>
  <% end %>
</div>
