<!-- Vertically centered scrollable modal -->
<div id="exampleModalToggle" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Produto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <%= render "form", producao: @producao %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sair</button>
        <button type="button" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>

  <div class="container text-center">
    <div class="row align-items-start">
      <span class="alert"><%= alert %></span>
      <span style="color: green"><strong><%= notice %></strong></span>
      <span class="navbar-text float-right">
      <% if user_signed_in? %>Acessando como: <strong><%= current_user.email %></strong><br>  
      <%= link_to "Editar Perfil", edit_user_registration_path %> 
      <%= button_to "Sair", destroy_user_session_path, method: :delete  %>
      <% else %>
      <%= link_to "Criar conta", new_user_registration_path, class: "navbar-link"  %>
      <%= link_to "Entrar", new_user_session_path, class: "navbar-link"  %>
      <% end %>
      </span>
  </div>
</div>

  <div class="row gx-5">
    <div class="col">
     <div class="p-2">
      <h1>Cadastro de Produtos</h1>
      <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Criar Produto</button>
    </div>
    <div class="col">
      <div class="p-3">
        <h1>Lista de Produtos</h1>
        <table class="table table-striped">
          <thead>
            <tr class="table-dark">
              <th scope="col">NOME</th>
              <th scope="col">DESCRIÇÃO</th>
              <th scope="col">PREÇO</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @producaos.each do |producao| %>
            <tr>
              <th scope="row"><%= producao.name %></th>
              <td><%= producao.description %></td>
              <td><%= producao.price %></td>
              <td><%= link_to "Editar", edit_producao_path(producao) %></td>
              <td><%= button_to "Excluir", producao, method: :delete %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
