<h1>Editar o Produto: <strong><%=@producao.name%></strong></h1>
   <%= render "form", producao: @producao %>
<!--
  <%= render @producao %>
  <%= link_to "Confirmar", producaos_path %> 
    <%= button_to "Excluir", @producao, method: :delete %>
</div>

<p style="color: green"><%= notice %></p>
-->